.create {
    font-family: var(--font-family); /* Use the defined font */
    background-color: #f5f5f5; /* Light gray background */
}

.container {
    width: 100%;
    max-width: 500px; /* Limita o tamanho máximo do container */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo dentro do container */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Faz o container ocupar a altura total da tela */
}

.form {
    background-color: #fff;
    padding: 30px; /* Increased padding for more space */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.title {
    display: flex;
    background-color: #34495e;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px 10px 0 0; /* Rounded top corners only */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title h1 {
    margin: auto; /* Center the text vertically and horizontally */
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.title .imagem {
    margin-right: auto; /* Push the image to the left */
    width: 40px;
    height: 40px; /* Define a height for the image */
}

.form-group {
    margin-bottom: 20px;
    position: relative; /* For positioning the icon */
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 12px; /* Increased padding */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease; /* Smooth transition on hover */
}

.form-group input:focus {
    outline: none;
    border-color: var(--accent-color); /* Highlight border on focus */
}

.form-group button {
    padding: 12px 20px; /* Increased padding */
    background-color: #34495e; /* Red background for button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #457fca /* Darker Red for hover */
}

/* Select2 Styles */
.select2-container--default .select2-selection--single {
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    transition: border-color 0.3s ease; /* Smooth transition on hover */
}

.select2-container--default .select2-selection--single:focus {
    outline: none;
    border-color: var(--accent-color); /* Highlight border on focus */
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    padding: 8px 30px 8px 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select2-dropdown {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1051; /* Ensure dropdown is above other elements */
}

.dropdown .dropdown-menu .dropdown-tabela {
    text-decoration: none;
    color: #333; /* Escolha a cor desejada */
    padding: 8px 16px; /* Ajusta o espaçamento interno */
    display: block;
}

.dropdown .dropdown-menu .dropdown-tabela:hover {
    background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
    color: #000; /* Cor de texto ao passar o mouse */
}

.select-container {
    position: relative;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    appearance: none; /* Remove a seta padrão */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

/* Icon Styles for Input Fields */
.form-group input::before {
    content: "";
    position: absolute;
    top: 12px; /* Vertical positioning */
    left: 15px; /* Horizontal positioning */
    width: 16px; /* Icon width */
    height: 16px; /* Icon height */
    background-size: cover; /* Cover the background with the icon */
    background-repeat: no-repeat; /* Prevent icon repetition */
}

#signature-pad{
    width: 400px;
    height: 200px;
    border: 1px solid black;
}

@media only screen and (max-width: 760px) {
    .container {
        max-width: 100%; /* Permite que o container use toda a largura disponível */
        padding: 10px; /* Reduz o espaçamento */
    }

    .form {
        padding: 20px; /* Diminui o padding para economizar espaço */
    }

    .title h1 {
        font-size: 1.5em; /* Diminui o tamanho da fonte do título */
    }

    .form-group input, 
    .form-group button {
        padding: 10px; /* Reduz o padding dos inputs e botões */
    }

    .form-group {
        margin-bottom: 15px; /* Reduz o espaçamento entre os campos do formulário */
    }

    select {
        font-size: 14px; /* Reduz o tamanho da fonte do select */
    }

    #signature-pad {
        width: 100%; /* O canvas de assinatura usará toda a largura disponível */
        height: 150px; /* Ajusta a altura para caber melhor em telas menores */
    }
}
