{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/loginflex.css' %}">
</head>
<body>

    <div class="page">
        <form method="POST" class="formLogin">
            {% csrf_token %}
            <h1>Bem Estar WEB</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <label for="username">Nome de Usuário</label>
            <input type="text" placeholder="Digite seu nome de usuário" autofocus="true" name="username" />
            <label for="password">Senha</label>
            <input type="password" placeholder="Digite sua senha" name="senha"/>
            <input type="submit" value="Acessar" class="btn" />
        </form>
    </div>
    
</body>
</html>