{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Menu{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.24/sorting/datetime-moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/DataTable.js' %}"></script>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li class="logo">
                <a>
                    <span class="icone"><ion-icon name="business-outline"></ion-icon></span>
                    <span class ="titulo">BEM-ESTAR WEB</span>
                </a>
            </li>
            <li>
                <a href="dashboard">
                    <span class="icone"><ion-icon name="bar-chart-outline"></ion-icon></span>
                    <span class ="titulo">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="shopee">
                    <span class="icone"><ion-icon name="cart-outline"></ion-icon></span>
                    <span class ="titulo">Shopee Flex</span>
                </a>
            </li>
            <li>
                <a href="mercado_livre">
                    <span class="icone"><ion-icon name="cart-outline"></ion-icon></span>
                    <span class ="titulo">Mercado Livre Flex</span>
                </a>
            </li>
            <li>
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" style="background: none; border: none; cursor: pointer;">
                        <span class="icone"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="titulo">Deslogar</span>
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <div class="toggle-sidebar">
        <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

    <div class="overlay"></div>

    <div class="main-content">
        {% block content %}
        {% endblock content %}
    </div>

    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirmar Exclusão</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Você tem certeza que deseja excluir os itens selecionados?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Excluir</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Seleciona os elementos da sidebar e overlay
        const sidebar = document.querySelector('.sidebar');
        const overlay = document.querySelector('.overlay');
        const toggleSidebar = document.querySelector('.toggle-sidebar');

        // Adiciona evento de clique ao botão de toggle para abrir/fechar a sidebar
        toggleSidebar.addEventListener('click', function() {
            sidebar.classList.toggle('active');
            overlay.classList.toggle('active');
            // Troca o ícone dependendo se a sidebar está ativa ou não
            toggleSidebar.querySelector('ion-icon').name = sidebar.classList.contains('active') ? 'chevron-back-outline' : 'chevron-forward-outline';
        });

        // Fecha a sidebar quando clicar fora (no overlay)
        overlay.addEventListener('click', function() {
            sidebar.classList.remove('active');
            overlay.classList.remove('active');
            toggleSidebar.querySelector('ion-icon').name = 'chevron-forward-outline'; // Reseta o ícone
        });
    </script>
    
   
    
    
</body>
</html>