{% extends 'menu.html' %}
{% block title %}Mercado Livre{% endblock %}
{% load static %}
{% load permission_tags %}

{% block content %}

<main class="main-content">
    <div class="table-responsive">

        <form method="GET" action="{% url 'mercado_livre' %}">
            <label for="start_date">Data Inicial:</label>
            <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
    
            <label for="end_date">Data Final:</label>
            <input type="date" name="end_date" id="end_date" value="{{ end_date }}">
    
            <button class="button darkblue" type="submit">Filtrar</button>
        </form>
        
        {% if user|has_role:'admin' or user|has_role:'expedition' %}
            <a class="a darkblue" href="/mercado_livre/registrar_coleta">Registrar Coleta</a>
            <button type="button" class="a red" id="bulkDeleteButton" style="display:none;" onclick="showConfirmationModalForSelected()">
                <i class="fas fa-trash-alt"></i> Excluir
            </button>
        {% endif %}

        <form id="deleteForm" method="POST" action="{% url 'bulk_delete_mercado_livre' %}">
            {% csrf_token %}
        
        <table class="records">

                <thead>
                    <tr>
                        {% if user|has_role:'admin' or user|has_role:'expedition' %}
                            <th><input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)"></th>
                        {% endif %}
                        <th>Data</th>
                        <th>Quantidade</th>
                        <th>Documento</th>
                        <th>Nome do Portador</th>
                        <th>Assinatura</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ml in mercado_livre %}
                    <tr>
                        {% if user|has_role:'admin' or user|has_role:'expedition' %}
                            <td><input type="checkbox" class="selectItem" name="items" value="{{ ml.id }}" onclick="toggleBulkDeleteButton()"></td>
                        {% endif %}
                        <td>{{ ml.data }}</td>
                        <td>{{ ml.quantidade }}</td>
                        <td>{{ ml.documento }}</td>
                        <td>{{ ml.nome }}</td>
                        <td>
                            {% if ml.assinatura %}
                                <img src="{{ ml.assinatura }}" alt="Assinatura" style="max-height: 100px; max-width: 200px;">
                            {% else %}
                                Sem assinatura
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </form>
        </table>
    </div>
</main>

<script>

    window.onload = function() {
        const today = new Date().toISOString().split('T')[0];
        const startDate = document.getElementById("start_date");
        const endDate = document.getElementById("end_date");
    
        if (!startDate.value) {
            startDate.value = today;
        }
        if (!endDate.value) {
            endDate.value = today;
        }
    };
    </script>
</script>    

{% endblock %}
