{% extends 'menu.html' %}
{% block title %}Shopee{% endblock %}
{% load static %}
{% load permission_tags %}

{% block content %}
<main class="main-content">
    <div class="table-responsive">
        <form method="GET" action="{% url 'shopee' %}">
            <label for="start_date">Data Inicial:</label>
            <input type="date" name="start_date" id="start_date" value="{{ start_date }}">

            <label for="end_date">Data Final:</label>
            <input type="date" name="end_date" id="end_date" value="{{ end_date }}">

            <button class="button darkblue" type="submit">Filtrar</button>
        </form>

        {% if user|has_role:'admin' or user|has_role:'expedition' %}
            <a class="a darkblue" href="/shopee/registrar_coleta">Registrar Coleta</a>
            <button type="button" class="a red" id="bulkDeleteButton" style="display:none;" onclick="showConfirmationModalForSelected()">
                <i class="fas fa-trash-alt"></i> Excluir
            </button>
        {% endif %}
        

        <table class="records">
            <form id="deleteForm" method="POST" action="{% url 'bulk_delete_shopee' %}">
                {% csrf_token %}

                <thead>
                    <tr>
                        {% if user|has_role:'admin' %}
                            <th><input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)"></th>
                        {% endif %}
                        <th>Data</th>
                        <th>Quantidade</th>
                        <th>Documento</th>
                        <th>Nome do Portador</th>
                        <th>Assinatura</th>

                    </tr>
                </thead>
                <tbody>
                    {% for s in shopees %}
                    <tr>
                        {% if user|has_role:'admin' %}
                            <td><input type="checkbox" class="selectItem" name="items" value="{{ s.id }}" onclick="toggleBulkDeleteButton()"></td>
                        {% endif %}
                        <td>{{ s.data|date:"j \d\e F H:i" }}</td>
                        <td>{{ s.quantidade }}</td>
                        <td>{{ s.documento }}</td>
                        <td>{{ s.nome }}</td>
                        <td>
                            {% if s.assinatura %}
                                <img src="{{ s.assinatura }}" alt="Assinatura" style="max-height: 100px; max-width: 200px;">
                            {% else %}
                                Sem assinatura
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </form>
        </table>
    </div>
</main>

<script>

window.onload = function() {
    const today = new Date().toISOString().split('T')[0];
    const startDate = document.getElementById("start_date");
    const endDate = document.getElementById("end_date");

    if (!startDate.value) {
        startDate.value = today;
    }
    if (!endDate.value) {
        endDate.value = today;
    }
};
</script>

{% endblock %}
